{% extends feedback_template %}

{# Inject plotting libraries #}
{% block feedback_start %}
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.8.1.min.js" crossorigin="anonymous"></script>
{% endblock feedback_start %}

{% block result_panel_after_output %}
  {% if result.userData and result.userData.item_text %}
  <script>
    var item = JSON.parse({{ result.userData.item_text | tojson }});
    Bokeh.embed.embed_item(item, "myplot");
  </script>
  {% endif %}
{% endblock %}

{% block feedback_end %}
  <div id="myplot"></div>
{% endblock feedback_end %}
