{% extends "aplus/layout.html" %}

{% block extrahead %}

<!--  MathJax (LaTex math) -->
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" data-aplus></script>

<!-- Custom course styles -->
<link rel="stylesheet"
      href="{{ pathto('_static/css/course.css', 1) }}"
      type="text/css"
      data-aplus />

<link rel="stylesheet"
      href="{{ pathto('_static/css/active_element.css', 1) }}"
      type="text/css"
      data-aplus />

{% endblock %}
