@import url("../default.css");

/* Render box to show the HTML output for the rst syntax */
.html-box {
    box-sizing: border-box;
    padding: 9.5px;
    border-radius: 4px;
    margin: 2px;
    background: #fdfcfc;
    border: 1px solid #CCCCCC;
}

div.sidebar {
    background-color: #ADDCEE82;
}