.admonition, .topic {
  min-height: 42px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 15px;
}

.admonition button {
  margin-bottom: 5px;
}

.admonition a {
  color: #33a1ff;
  font-weight: 700;
}

.admonition .collapse .well,
.admonition .collapsing .well {
  margin-bottom: 0;
}

.admonition-title, .topic-title {
  font-weight: 700;
}

.topic.dl-horizontal .topic-title {
  display: none;
}

.topic.dl-horizontal dt {
  width: 250px;
  margin-top: 0.5em;
}

.topic.dl-horizontal dd {
  margin-left: 270px;
  margin-top: 0.5em;
}

.topic.dl-horizontal dt:first-of-type,
.topic.dl-horizontal dd:first-of-type {
  margin-top: 0;
}

.admonition, .topic {
  /* default colors */
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Small adjustment to the text-aligment of the styled-topic directive */
.topic.dl-horizontal dd{
  margin-bottom: 0px;
}

/* kbd is used to represents user keyboard input */
code.kbd {
  color: #212121;
  background-color: #f2f2f2;
  border: 1px solid #cbcbcb;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15), inset 0 0 0 2px #f4f4f4;
}

.kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  font-weight: 700;
  color: #fff;
  background-color: #212121;
  border-radius: .4rem;
  font-family: monospace;
}

/* Set the width of the highlight code with the lineos option to 100% */
table.highlighttable {
  width: 100%;
  margin: 0px;
}

table.highlighttable td {
  padding: 0px;
}
.linenodiv{
  margin: -0.2em;
}


/* The current version of A+ has not been updated, and it is still using Bootstrap 3. The following classes will emulate some of the changes that are implemented in Bootstrap 4  */
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /* font-size:  1rem; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

div.topic{
  background-color: #ddf1fb;
}

div.topic a{
  color: #33a1ff;
  font-weight: 400;
}

.font-weight-bold {
  font-weight: bold;
}
