.admonition button {
  margin-bottom: 5px;
}

.admonition a {
  color: #33a1ff;
}

.admonition .collapse .well,
.admonition .collapsing .well {
  margin-bottom: 0;
}

.admonition-title, .topic-title {
  font-weight: 700;
}
