.admonition, .topic {
  min-height: 42px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 15px;
}

.admonition button {
  margin-bottom: 5px;
}

.admonition a {
  color: #33a1ff;
}

.admonition .collapse .well,
.admonition .collapsing .well {
  margin-bottom: 0;
}

.admonition-title, .topic-title {
  font-weight: 700;
}

.topic.dl-horizontal .topic-title {
  display: none;
}

.topic.dl-horizontal dt {
  width: 250px;
  margin-top: 0.5em;
}

.topic.dl-horizontal dd {
  margin-left: 270px;
  margin-top: 0.5em;
}

.topic.dl-horizontal dt:first-of-type,
.topic.dl-horizontal dd:first-of-type {
  margin-top: 0;
}

.admonition, .topic {
  /* default colors */
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
